.formmain {
    position: absolute;
    margin-top: 200px;
    margin-left: 40%;
    background-color: aqua;
    &--email>input {
        border: none;
    }
}

.imagestest {
    width: 40rem;
    height: 40rem;
    z-index: 2000;
}